@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Preceding variables */
    --background: #f7f8fd;
    --foreground: #f2f4ff;

    --txt-primary: #3a4374;
    --txt-secondary: #647196;

    --btn-primary-background: #ad1fea;
    --btn-primary-hover: #c75af6;

    --btn-secondary-background: #4661e6;
    --btn-secondary-hover: #7c91f9;

    --btn-tertiary-background: #3a4374;
    --btn-tertiary-hover: #656ea3;

    --btn-danger-background: #d73737;
    --btn-danger-hover: #e98888;

    --btn-back-background: #373f68;

    --btn-upvote-background: #f2f4fe;
    --btn-upvote-hover: #cfd7ff;
    --btn-upvote-active: #4661e6;

    --btn-sort-background: #373f68;

    --input-default-background: #f7f8fd;
    --input-filled-background: #f7f8fd;
    --input-active-background: #f7f8fd;
    --input-active-border: #f7f8fd;
    --input-error-border: #d73737;

    --dropdown-default-background: #f7f8fd;
    --dropdown-active-border: #4661e6;

    --btn-border-radius: 10px;
    --primary-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.35);

    /* Additional variables */
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: #4661e6;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
