@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f7f8fd;
    --foreground: #f2f4ff;

    --txt-primary: #3a4374;

    --btn-primary-background: #ad1fea;
    --btn-primary-hover: #c75af6;

    --btn-secondary-background: #4661e6;
    --btn-secondary-hover: #7c91f9;

    --btn-tertiary-background: #3a4374;
    --btn-tertiary-hover: #656ea3;

    --btn-danger-background: #d73737;
    --btn-danger-hover: #e98888;

    --btn-back-background: #373f68;

    --btn-upvote-background: #f2f4fe;
    --btn-upvote-hover: #cfd7ff;
    --btn-upvote-active: #4661e6;

    --btn-sort-background: #373f68;

    --input-default-background: #f7f8fd;
    --input-filled-background: #f7f8fd;
    --input-active-background: #f7f8fd;
    --input-active-border: #f7f8fd;
    --input-error-border: #d73737;

    --dropdown-default-background: #f7f8fd;
    --dropdown-active-border: #4661e6;

    --btn-border-radius: 10px;
    --primary-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.35);
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
